aiodns==3.0.0
aiohttp==3.8.1
aiosignal==1.2.0
appnope==0.1.2
argon2-cffi==21.1.0
astroid @ file:///Users/runner/miniforge3/conda-bld/astroid_1637796281334/work
async-timeout==4.0.1
attrs==21.2.0
backcall==0.2.0
bleach==4.1.0
brotlipy==0.7.0
ccxt==1.62.40
certifi==2021.10.8
cffi @ file:///opt/concourse/worker/volumes/live/976f8942-f51d-4f0e-7352-2a10f0820d0e/volume/cffi_1625814703974/work
chardet @ file:///opt/concourse/worker/volumes/live/7e1102c4-8702-40f2-63d6-f260ce5f85e4/volume/chardet_1607706831384/work
charset-normalizer==2.0.8
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
conda-package-handling @ file:///opt/concourse/worker/volumes/live/8fb3e065-760b-4a9d-4cd9-aca7fc8baf53/volume/conda-package-handling_1618262145611/work
cryptography @ file:///opt/concourse/worker/volumes/live/d5dda287-c0b3-4861-7262-fab05baa64dc/volume/cryptography_1616769284011/work
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
entrypoints==0.3
frozenlist==1.2.0
idna @ file:///home/linux1/recipes/ci/idna_1610986105248/work
ipykernel==6.5.1
ipython==7.30.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1636447814597/work
jedi==0.18.1
Jinja2==3.0.3
jsonschema==4.2.1
jupyter==1.0.0
jupyter-client==7.1.0
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
lazy-object-proxy @ file:///Users/runner/miniforge3/conda-bld/lazy-object-proxy_1635853523621/work
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
multidict==5.2.0
nbclient==0.5.9
nbconvert==6.3.0
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.4.6
numpy==1.21.4
packaging==21.3
pandas==1.3.4
pandocfilters==1.5.0
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1630400214373/work
prometheus-client==0.12.0
prompt-toolkit==3.0.23
ptyprocess==0.7.0
pycares==4.1.2
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
Pygments==2.10.0
pylint @ file:///home/conda/feedstock_root/build_artifacts/pylint_1637860633752/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing==3.0.6
pyrsistent==0.18.0
PySocks @ file:///opt/concourse/worker/volumes/live/112288ac-9cb0-4e73-768b-13baf4ca6419/volume/pysocks_1605305820043/work
python-dateutil==2.8.2
pytz==2021.3
pyzmq==22.3.0
qtconsole==5.2.1
QtPy==1.11.2
requests @ file:///tmp/build/80754af9/requests_1608241421344/work
ruamel-yaml-conda @ file:///opt/concourse/worker/volumes/live/e81cf0fe-611a-498e-6e69-a7320057c1ac/volume/ruamel_yaml_1616016689696/work
Send2Trash==1.8.0
six @ file:///tmp/build/80754af9/six_1623709665295/work
terminado==0.12.1
testpath==0.5.0
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tornado==6.1
tqdm @ file:///tmp/build/80754af9/tqdm_1625563689033/work
traitlets==5.1.1
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1637155965157/work
urllib3 @ file:///tmp/build/80754af9/urllib3_1625084269274/work
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.2
wrapt @ file:///Users/runner/miniforge3/conda-bld/wrapt_1635836510531/work
yarl==1.7.2
